/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", system-ui !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b8b8b8; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.font-mont{
    font-family: "Montserrat", system-ui !important;  
}
body{
    background-image: url('../img/2560x1600.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.fw-custom-bolder{
    font-weight: 600 !important;
}
#logo{
    width: 150px;
}

.btn-green{
    background-color: #F7B432;
}
.btn-border{
    border: 2px solid #F7B432;
}
.green-filter{
    -webkit-filter: brightness(0) saturate(100%) invert(87%) sepia(38%) saturate(4112%) hue-rotate(336deg) brightness(107%) contrast(94%) !important;
            filter: brightness(0) saturate(100%) invert(87%) sepia(38%) saturate(4112%) hue-rotate(336deg) brightness(107%) contrast(94%) !important;
}

.h-dvh100{
    height: 100dvh;
}
.z-11{
    z-index: -5;
}

.how-section-card-wrapper{
   border-radius: 50px;
 max-width: 500px;

 background: rgba(255, 255, 255, 0.21);

-webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(.6px);
-webkit-backdrop-filter: blur(.6px);


    .how-section-card-number{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

}

.wp-btn-wrapper-fixed{
    position: relative;
    a{
        svg{
           
            @media (min-width:768px) {
                width: 70px;
                height: 70px;
          
                
            }
        }
    }

    &::before{
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.568);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: -1;
        -webkit-animation: balon1 1s infinite;
                animation: balon1 1s infinite;
       
        @-webkit-keyframes balon1 {
            from{
                width: 50%;
                height: 50%;
               opacity: 1;
            }
            to{
                width: 110%;
                height: 110%;
               opacity: 0;
            }
            
        }
       
        @keyframes balon1 {
            from{
                width: 50%;
                height: 50%;
               opacity: 1;
            }
            to{
                width: 110%;
                height: 110%;
               opacity: 0;
            }
            
        }
    }
}

.how-section-card-arrow{
  
  img{
   width: 80px;
  }
}


.header-end-btn,.hero-btn-wrapper{
    a{
     &:hover{
     -webkit-box-shadow:1px 1px 10px white;
             box-shadow:1px 1px 10px white;
     -webkit-transition: all .2s;
     -o-transition: all .2s;
     transition: all .2s;
   
     }
    }
}