@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  list-style: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dvh-100 {
  height: 100dvh;
}

.scale-1 {
  transform: scale(1.5);
}

.scale-2 {
  transform: scale(1.7);
}

.scale-2-5 {
  transform: scale(3);
}

.link-hover {
  transition: all 0.3s;
}
.link-hover:hover {
  font-weight: bolder !important;
  background-color: red;
}

.btn-hover-efect {
  transition: all 0.5s;
}
.btn-hover-efect:hover {
  opacity: 0.5;
}

.banner-tel-text {
  color: rgb(255, 24, 24);
  animation: banner-text-ani 1s infinite ease;
}
@keyframes banner-text-ani {
  1% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.logo-one-word {
  color: #ffc107;
  animation: logo-one 1s infinite ease;
}
@keyframes logo-one {
  1% {
    color: #ffc107;
  }
  50% {
    color: black;
  }
  100% {
    color: #ffc107;
  }
}

.logo-two-word {
  color: black;
  animation: logo-two 1s infinite ease;
}
@keyframes logo-two {
  1% {
    color: black;
  }
  50% {
    color: #ffc107;
  }
  100% {
    color: black;
  }
}

.banner-card-end-item {
  top: 50%;
  transform: translateY(-20%);
  right: 5%;
  z-index: -2;
  width: 500px;
}
@media (max-width: 768px) {
  .banner-card-end-item {
    opacity: 0.2;
    right: -10%;
    width: 100%;
  }
}

.banner-card-start-item {
  position: relative;
  transform: translatey(-150%);
  transition: all 1.2s;
}
@media (min-width: 768px) {
  .banner-card-start-item {
    width: 50%;
  }
}

.mySwiper .swiper-slide-active .banner-card-start-item {
  transform: translatey(-5%);
}

.banner-bg-item {
  z-index: -10;
}

.banner-bg-item-100 {
  top: 40px;
  right: 30%;
}
@media (max-width: 768px) {
  .banner-bg-item-100 {
    top: 0px;
    right: 0px;
  }
}
.banner-bg-item-100 img {
  width: 200px;
}
@media (max-width: 768px) {
  .banner-bg-item-100 img {
    width: 110px;
  }
}

.home-service-items-wrapper {
  padding-bottom: 100%;
}
.home-service-items-wrapper .home-service-item {
  width: 330px;
}
.home-service-items-wrapper .home-service-img-wrapper {
  height: 200px;
}
.home-service-items-wrapper .home-service-content-wrapper {
  width: 300px;
  text-align: justify;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -15%);
}

.customer-info-top-content {
  word-spacing: 8px;
}

.customer-info-wrapper .customer-info-card-wrapper .customer-info-img-wrapper img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.customer-star {
  height: 16px;
  width: 16px;
  background: url("../img/customer-info/star.svg");
  filter: grayscale(100);
}
.customer-star.active {
  filter: grayscale(0);
}

.customer-info-text-heading {
  font-size: 0.9rem;
}

.footer-ico {
  width: 100px;
}

.footer-form-wrapper form {
  position: relative;
  z-index: 5;
}
.footer-form-wrapper form .footer-text-input:focus {
  outline: 3px solid goldenrod;
}
.footer-form-wrapper form input {
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.559);
  border: 1px solid rgba(128, 128, 128, 0.555);
}
.footer-form-wrapper form input:focus {
  outline: none;
  outline: 3px solid goldenrod;
}

.about-img {
  width: 300px;
}

.wp-ico {
  text-shadow: 2px 2px 21px rgb(157, 255, 9);
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 50;
}
@media (max-width: 768px) {
  .wp-ico {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 50;
  }
}
.wp-ico img {
  width: 70px;
}

.house-white-end-img {
  height: 300px;
}
.house-white-end-img img {
  background-color: red;
}/*# sourceMappingURL=style.css.map */